:root{
    --green: rgb(115, 236, 125);
    --red: rgb(236, 115, 125);
    --blue: rgb(91, 129, 231);
    --yellow: rgb(248, 245, 62);
    --dark-blue: rgb(48, 87, 196);

    --white: #FFFFFF;
    --dark-white: rgb(245, 245, 245);
    --light-grey: rgb(224, 224, 224);
    --light-grey2: rgb(212, 212, 212);
    --grey: #cacaca;
    --dark-grey: #838383;
    --dark-grey2: #707070;   
    --light-black: #383838;
    --light-black2: #424242;
    --black: #232323;

    --success: rgb(64, 211, 51);
    --error: rgb(235, 60, 60);

    --size-xsmall: 4px;
    --size-small: 8px;
    --size-medium: 12px;
    --size-large: 20px;
    --size-xlarge: 28px;

    --border-radius: 5px;
    --font: Verdana, Geneva, sans-serif;
    --color: var(--black); 
    --background-color: var(--white);
    --hover: var(--dark-white);
    --focus: var(--light-grey);
    --border-color: var(--grey);
    --shadow-color: var(--dark-grey);

    --blockquote-border: var(--black);

    --mark-color: var(--black);
    --mark-background-color: #FFFF00;

    --table-background-color: var(--background-color);
    --table-striped-background-color: var(--dark-white);
    --table-head-background-color: var(--table-background-color);
    --table-hover-background-color: var(--hover);
    --table-focus-background-color: var(--focus);
}

/* Themes */
:root[data-theme="dark"]{
    --color: var(--white); 
    --background-color: var(--black);
    --hover: var(--light-black2);
    --focus: var(--dark-grey2);
    --border-color: var(--grey);
    --blockquote-border: var(--grey);
    --shadow-color: var(--white);
    --table-striped-background-color: var(--light-black);
}

:root[data-size="large"]{
    --size-xsmall: 8px;
    --size-small: 12px;
    --size-medium: 20px;
    --size-large: 28px;
    --size-xlarge: 36px;
}

*{
    outline:none;
}
*::-moz-focus-inner, *::-moz-focus-outer{
    border:0;
}

select, textarea, .box, cite, blockquote, input,button{
    padding: var(--size-medium);
    background-color: var(--background-color);
}
table, progress, select, textarea, .box, .border, input, button{
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}
.responsive:hover, .emphasized, code, blockquote, input[type="button"]:hover, button:hover{
    background-color: var(--hover);
}
.responsive:active, input[type="button"]:active,button:active{
    background-color: var(--focus);
}

/* body */
body{
    background-color: var(--background-color);
}
body, body *{
    color: var(--color);
    font-family: var(--font);
}

/* Button specific */
button::-moz-focus-inner{
    border: none;
}

/* Input specific */

input.valid{
    border-color: var(--green);
    border-width: 2px;
}
input.invalid{
    border-color: var(--red);
    border-width: 2px;
}

/* Blockquote specific*/
blockquote{
    border-left: 2px var(--blockquote-border) solid;
    border-radius: var(--border-radius);
}

/* Code specific */
code{
    white-space: pre;
    display: inline-block;
    position: relative;
    line-height:1.25;
    padding: var(--size-medium);
    border-radius: var(--border-radius);
}
code::before{
    content: attr(data-lang);
    font-size:.7rem;
    position:absolute;
    right:.4rem;
    top:.1rem;
}

/* Progress */
progress{
    background-color: var(--hover);
    border-radius: var(--border-radius);
}
progress::-webkit-progress-bar {
    background-color: var(--hover);
    border-radius: var(--border-radius);
}
progress::-webkit-progress-value, progress::-moz-progress-bar {
    background-color: var(--dark-blue);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
progress.error::-webkit-progress-value, progress.error::-moz-progress-bar {
    background-color: var(--error);
}
progress.success::-webkit-progress-value, progress.success::-moz-progress-bar {
    background-color: var(--success);
}
progress.bland::-webkit-progress-value, progress.bland::-moz-progress-bar {
    background-color: var(--dark-grey);
}

/* Table */
table{
    border-spacing: 0;
    border-radius: var(--border-radius);
}
table tr:last-child td:first-child {
    border-bottom-left-radius: var(--border-radius);
}

table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}

table tr:last-child td:last-child {
    border-bottom-right-radius: var(--border-radius);
}
th{
    background-color: var(--table-head-background-color);
    font-weight: bold;
}
td{
    padding: var(--size-small);
} 
table.striped tr:nth-of-type(even){
    background-color: var(--table-striped-background-color);
}
table:not(.striped) tr, table.striped tr:nth-of-type(odd){
    background-color: var(--table-background-color);
}
table.hover-row > tbody tr:hover,table.hover tbody tr:hover{
    background-color: var(--table-hover-background-color);
}
table.hover-cell td:hover{
    background-color: var(--table-hover-background-color);
}
table.hover-row > tbody tr:active,table.hover tbody tr:active{
    background-color: var(--table-focus-background-color);
}
table.hover-cell td:active{
    background-color: var(--table-focus-background-color);
}
table.border td{
    border: 1px solid var(--border-color);
}
table th{
    border-bottom: 2px solid var(--border-color);
    padding:.6rem .4rem;
}



/* Link */
a{
    text-decoration: none;
}
a:link{
    color: var(--dark-blue);
}
a:active, a:visited, a:hover{
    color: var(--blue);
}

/* Textarea specific */
textarea{
    resize: none;
    min-height: 10rem;
    min-width: 20rem;
}

/* Mark specific */
mark{
    color: var(--mark-color);
    background-color: var(--mark-background-color);
    padding: 0 0.1em 0 0.1em;
}


/* General */

/* Margin */
.mg, .mg-medium{
    margin: var(--size-medium);
}
.mg-xsmall{
    margin: var(--size-xsmall);
}
.mg-small{
    margin: var(--size-small);
}
.mg-large{
    margin: var(--size-large);
}
.mg-xlarge{
    margin: var(--size-xlarge);
}
.mg-top, .mg-top-medium{
    margin-top: var(--size-medium);
}
.mg-top-xsmall{
    margin-top: var(--size-xsmall);
}
.mg-top-small{
    margin-top: var(--size-small);
}
.mg-top-large{
    margin-top: var(--size-large);
}
.mg-top-xlarge{
    margin-top: var(--size-xlarge);
}
.mg-right, .mg-right-medium{
    margin-right: var(--size-medium);
}
.mg-right-xsmall{
    margin-right: var(--size-xsmall);
}
.mg-right-small{
    margin-right: var(--size-small);
}
.mg-right-large{
    margin-right: var(--size-large);
}
.mg-right-xlarge{
    margin-right: var(--size-xlarge);
}
.mg-bottom, .mg-bottom-medium{
    margin-bottom: var(--size-medium);
}
.mg-bottom-xsmall{
    margin-bottom: var(--size-xsmall);
}
.mg-bottom-small{
    margin-bottom: var(--size-small);
}
.mg-bottom-large{
    margin-bottom: var(--size-large);
}
.mg-bottom-xlarge{
    margin-bottom: var(--size-xlarge);
}
.mg-left, .mg-left-medium{
    margin-left: var(--size-medium);
}
.mg-left-xsmall{
    margin-left: var(--size-xsmall);
}
.mg-left-small{
    margin-left: var(--size-small);
}
.mg-left-large{
    margin-left: var(--size-large);
}
.mg-left-xlarge{
    margin-left: var(--size-xlarge);
}
.mg-start, .mg-start-medium{
    margin-block-start: var(--size-medium);
}
.mg-start-xsmall{
    margin-block-start: var(--size-xsmall);
}
.mg-start-small{
    margin-block-start: var(--size-small);
}
.mg-start-large{
    margin-block-start: var(--size-large);
}
.mg-start-xlarge{
    margin-block-start: var(--size-xlarge);
}
.mg-end, .mg-end-medium{
    margin-block-end: var(--size-medium);
}
.mg-end-xsmall{
    margin-block-end: var(--size-xsmall);
}
.mg-end-small{
    margin-block-end: var(--size-small);
}
.mg-end-large{
    margin-block-end: var(--size-large);
}
.mg-end-xlarge{
    margin-block-end: var(--size-xlarge);
}
/* Padding */
.pd, .pd-medium{
    padding: var(--size-medium);
}
.pd-xsmall{
    padding: var(--size-xsmall);
}
.pd-small{
    padding: var(--size-small);
}
.pd-large{
    padding: var(--size-large);
}
.pd-xlarge{
    padding: var(--size-xlarge);
}
.pd-top, .pd-top-medium{
    padding-top: var(--size-medium);
}
.pd-top-xsmall{
    padding-top: var(--size-xsmall);
}
.pd-top-small{
    padding-top: var(--size-small);
}
.pd-top-large{
    padding-top: var(--size-large);
}
.pd-top-xlarge{
    padding-top: var(--size-xlarge);
}
.pd-right, .pd-right-medium{
    padding-right: var(--size-medium);
}
.pd-right-xsmall{
    padding-right: var(--size-xsmall);
}
.pd-right-small{
    padding-right: var(--size-small);
}
.pd-right-large{
    padding-right: var(--size-large);
}
.pd-right-xlarge{
    padding-right: var(--size-xlarge);
}
.pd-bottom, .pd-bottom-medium{
    padding-bottom: var(--size-medium);
}
.pd-bottom-xsmall{
    padding-bottom: var(--size-xsmall);
}
.pd-bottom-small{
    padding-bottom: var(--size-small);
}
.pd-bottom-large{
    padding-bottom: var(--size-large);
}
.pd-bottom-xlarge{
    padding-bottom: var(--size-xlarge);
}
.pd-left, .pd-left-medium{
    padding-left: var(--size-medium);
}
.pd-left-xsmall{
    padding-left: var(--size-xsmall);
}
.pd-left-small{
    padding-left: var(--size-small);
}
.pd-left-large{
    padding-left: var(--size-large);
}
.pd-left-xlarge{
    padding-left: var(--size-xlarge);
}
.pd-start, .pd-start-medium{
    padding-block-start: var(--size-medium);
}
.pd-start-xsmall{
    padding-block-start: var(--size-xsmall);
}
.pd-start-small{
    padding-block-start: var(--size-small);
}
.pd-start-large{
    padding-block-start: var(--size-large);
}
.pd-start-xlarge{
    padding-block-start: var(--size-xlarge);
}
.pd-end, .pd-end-medium{
    padding-block-end: var(--size-medium);
}
.pd-end-xsmall{
    padding-block-end: var(--size-xsmall);
}
.pd-end-small{
    padding-block-end: var(--size-small);
}
.pd-end-large{
    padding-block-end: var(--size-large);
}
.pd-end-xlarge{
    padding-block-end: var(--size-xlarge);
}


/* Flexbox */
.vbox{
    display: flex;
    flex-direction: column;
}
.vbox.reversed{
    flex-direction: column-reverse;
}
.hbox{
    display: flex;
    flex-direction: row;
}
.hbox.reversed{
    flex-direction: row-reverse;
}
/* Misc */
.elevated{
    box-shadow: var(--shadow-color) 3px 3px 3px;
}
.fit{
    width: max-content;
    height: max-content;
}
.invisible{
    visibility: hidden;
}
.bold{
    font-weight: bold;
}
address, blockquote, .italic{
    font-style: italic;   
}
.strikethrough{
    text-decoration: line-through;
}
.smaller{
    font-size: smaller;
}
.larger{
    font-size: larger;
}
.wavy{
    text-decoration: underline wavy var(--border-color);
}
.dotted{
    text-decoration: underline dotted var(--border-color);
}
.dashed{
    text-decoration: underline dashed var(--border-color);
}

/* Position */
.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.static{
    position: static;
}
.sticky{
    position: sticky;
}
.absolute{
    position: absolute;
}

/* display */
.none{
    display: none;
}
.inline{
    display: inline;
}
.flex{
    display: flex;
}
.inline-block:{
    display: inline-block;
}
.block{
    display: block;
}
.inline-flex{
    display: inline-flex;
}

.icon{
    display: inline-block;
}
.icon, .icon-medium{
    width: calc(var(--size-medium) * 3);
    height: calc(var(--size-medium) * 3);
    font-size: var(--size-medium);
}
.icon-small{
    width: calc(var(--size-small) * 3);
    height: calc(var(--size-small) * 3);
    font-size: var(--size-medium);
}
.icon-large{
    width: calc(var(--size-large) * 3);
    height: calc(var(--size-large) * 3);
    font-size: var(--size-medium);
}


/* Animations */
.shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
.largen{
    animation: largen 0.6s linear;
}


.loop{
    animation-iteration-count: infinite;
}

.loading::after{
    content: " ";
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 0.4em solid var(--color);
    border-color: var(--color) transparent var(--color) transparent;
    animation: circle 1.2s linear infinite;
}

@keyframes largen{
    45%{
        transform: scale(1.06,1.06);
    }
    90%{
        transform: scale(1,1);
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}